{% extends 'base.html.twig' %}

{% block title %}Activos{% endblock %}

{% block titleDash %}Activos{% endblock %}
{% block infoDash %}Informacion sobre los Activos.{% endblock %}

{% block nuevo %}
    <button class="btn btn-info" data-toggle="modal" data-target="#modal-new">NUEVO</button>

    <!-- Ventana Modal Nueva Categoria -->
    <div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-money"></i> NUEVO ACTIVO</h4>
                </div>
                <div class="modal-body">
                    <!-- Modal Form -->
                    <form class="form" name="insertar" method="post" action="{{ urlFor('new-activo') }}" data-toggle="validator">
                        <div class="form-group">
                            <select class="form-control" name="clientes">
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.idcliente }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="categorias">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.idcategoria }}">{{ categoria.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="fecha" class="date-picker datepicker-modal form-control" placeholder="dd-MM-aaaa" readonly required/>
                                <label for="date-picker" class="input-group-addon btn"><span class="fa fa-calendar"></span></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="moneda" type="text" name="importe" placeholder="Importe Gs." autocomplete="off" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="descripcion" placeholder="Descripcion" autocomplete="off" class="form-control" required/>
                        </div>
                        <div class="text-right"><input id="guardar" type="submit" value="GUARDAR" class="btn btn-info"/>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="guardar_salir" class="btn btn-block btn-primary" type="button">GUARDAR Y SALIR</button>
                </div>
            </div>
        </div>
    </div>

    {% include '/include/modal.html.twig' %}

    {% if flash['mensaje'] %}
        <div class="bb-alert alert alert-success">
            <span>{{ flash['mensaje'] }}</span>
        </div>
    {% endif %}
{% endblock %}



{% block table %}
   <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th id="codigo">#</th>
                        <th>FECHA</th>
                        <th>CLIENTE</th>
                        <th>CATEGORIA</th>
                        <th>DESCRIPCION</th>
                        <th>INGRESO</th>
                        <th><center>ACCIONES</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in activos %}
                        <tr>
                            <td>{{ entity.idactivo }}</td>
                            <td>{{ entity.fecha }}</td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.categoria }}</td>
                            <td>{{ entity.descripcion|upper }}</td>
                            <td>{{ entity.ingreso }}</td>
                            <td class="acciones"><center>
                                <ul>
                                    <li><a href="{{ urlFor('up-activo', {'id':entity.idactivo}) }}"><i class="fa fa-pencil-square-o"></i></a></li>
                                    <li><a href="#" data-href="{{ urlFor('del-activo', {'id':entity.idactivo}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o delete"></i></a></li>
                                </ul>
                                </center>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.side-menu li:eq(3)').addClass('active');
        });
    </script>
{% endblock %}