{% set dir= baseUrl ~ "/views" %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ dir }}/images/favicon.png"/>
    <title>{% block title %}Titulo{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/ol.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/flat-blue.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ dir }}/css/queries.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    {% endblock %}

</head>
<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <img src="{{ dir }}/images/logo.png" class="logo-img">
                    {# <ol class="breadcrumb navbar-breadcrumb">
                         <li class="active">Dashboard</li>
                    </ol>#}
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">0</span>
                            </li>
                            <li class="message">
                                No new notification
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">USER <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="profile-img">
                                <img src="" class="profile-img">
                            </li>
                            <li>
                                <div class="profile-info">
                                    <h4 class="username">User</h4>
                                    <p>user@email.com</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Perfil</button>
                                        <a href="{{ urlFor('logout') }}" class="btn btn-default"><i class="fa fa-sign-out"></i> Salir</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <div class="icon fa fa-usd"></div>
                            <div class="title">FINLOP</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ urlFor('dashboard') }}">
                                <span class="icon fa fa-area-chart"></span><span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlFor('cliente') }}">
                                <span class="icon fa fa-user"></span><span class="title">Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlFor('categoria') }}">
                                <span class="icon fa fa-cog"></span><span class="title">Categorias</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlFor('activo') }}">
                                <span class="icon fa fa-money"></span><span class="title">Activo</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlFor('pasivo') }}">
                                <span class="icon fa fa-level-down"></span><span class="title">Pasivo</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlFor('deudas') }}">
                                <span class="icon fa fa-credit-card"></span><span class="title">Deudas</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon fa fa-shopping-cart"></span><span class="title">Cobros</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon fa fa-line-chart"></span><span class="title">Inversiones</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div  class="col-xs-9 col-sm-6 col-md-10 col-lg-10 ">
                        <div class="page-title">
                            <span class="title"><h2>{% block titleDash %}{% endblock %}</h2></span>
                            <div class="description">{% block infoDash %}{% endblock %}</div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-6 col-md-2 col-lg-2">
                        <div class="pull-right btn-nuevo">
                        <!-- BT nuevo y buscador -->
                        {% block nuevo %}{% endblock %}
                        </div>
                    </div>
                </div>

                <div class="row">


                </div>

                <!-- Fila Tabla -->
                <div class="row">
                    <div class="col-xs-12">
                        {% block table %}{% endblock %}
                    </div>
                </div>

                <!-- Fila Modal -->
                <div>
                    {% block modal %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>




    <script type="text/javascript" src="{{ dir }}/js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/js/dashboard.js"></script>
    <script type="text/javascript" src="{{ dir }}/js/validator.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/js/bootstrap-datepicker.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>