{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block titleDash %}Clientes{% endblock %}
{% block infoDash %}Informacion sobre Clientes.{% endblock %}

{% block nuevo %}
    <button class="btn btn-info" data-toggle="modal" data-target="#modal-new">NUEVO</button>

    <!-- Ventana Modal Nueva Categoria -->
    <div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="myModallabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Nuevo Cliente</h4>
                </div>
                <div class="modal-body">
                    <form class="form" name="insertar" method="post" action="{{ urlFor('new-cliente') }}" data-toggle="validator">
                        <div class="form-group"><input type="text" name="name" value="" placeholder="Nombre" autofocus autocomplete="off" class="form-control" required/></div>
                        <div class="form-group"><input type="text" name="ruc" value="" placeholder="RUC" autofocus autocomplete="off" class="form-control" required/></div>
                        <div class="text-right"><input id="guardar" type="submit" value="GUARDAR" class="btn btn-info"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="guardar_salir" class="btn btn-block btn-primary" type="button">GUARDAR Y SALIR</button>
                </div>
            </div>
        </div>
    </div>

    {% include '/include/modal.html.twig' %}

    {% if flash['mensaje'] %}
        <div class="bb-alert alert alert-success">
            <span>{{ flash['mensaje'] }}</span>
        </div>
    {% endif %}
{% endblock %}


{% block table %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th id="codigo">#</th>
                        <th>CLIENTE</th>
                        <th>RUC</th>
                        <th><center>ACCIONES</center></th>
                    </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for entity in clientes %}
                        <tr>
                            <td>{{ entity.idcliente }}</td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.ruc }}</td>
                            <td class="acciones"><center>
                                <ul>
                                    <li><a href="{{ urlFor('up-cliente', {'id':entity.idcliente}) }}"><i class="fa fa-pencil-square-o"></i></a></li>
                                    <li><a href="#" data-href="{{ urlFor('del-cliente', {'id':entity.idcliente}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o delete"></i></a></li>
                                </ul>
                                </center></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.side-menu li:eq(1)').addClass('active');
        });
    </script>
{% endblock %}