{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block titleDash %}Dashboard{% endblock %}

{% block infoDash %}Informaciones generales y Graficos.{% endblock %}

{% block javascripts %}
   <!-- Active (primitive) -->
   <script type="text/javascript">
      $(function(){
         $('.side-menu li:eq(0)').addClass('active');
      });
   </script>
   <!-- End active -->
{% endblock %}

