{% extends 'base.html.twig' %}

{% block title %}Deudas{% endblock %}

{% block titleDash %}Deudas{% endblock %}

{% block infoDash %}Informacion sobre deudas a pagar.{% endblock %}

{% block nuevo %}
    <button class="btn btn-info" data-toggle="modal" data-target="#modal-new">NUEVO</button>

    <!-- Ventana Modal Nueva Categoria -->
    <div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="myModallabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-credit-card"></i> NUEVA DEUDA</h4>
                </div>
                <div class="modal-body">
                    <!-- Modal Form -->
                    <form class="form" name="insertar" method="post" action="{{ urlFor('new-deuda') }}" data-toggle="validator">
                        <div class="form-group">
                            <select class="form-control" name="categorias">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.idcategoria }}">{{ categoria.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="fecha" class="date-picker datepicker-modal form-control" placeholder="dd-MM-aaaa" readonly required/>
                                <label for="date-picker" class="input-group-addon btn"><span class="fa fa-calendar"></span></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="moneda" type="text" name="deuda" placeholder="Deuda Gs." autocomplete="off" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="descripcion" placeholder="Deuda Descripcion" autocomplete="off" class="form-control" required/>
                        </div>
                            <div class="text-right"><input id="guardar" type="submit" value="GUARDAR" class="btn btn-info"/>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="guardar_salir" class="btn btn-block btn-primary" type="button">GUARDAR Y SALIR</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block table %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th id="codigo">#</th>
                        <th>FECHA</th>
                        <th>CATEGORIA</th>
                        <th>DESCRIPCION</th>
                        <th>DEUDA</th>
                        <th><center>ACCIONES</center></th>
                        <th><center>PAGAR</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in deuda_table %}
                        <tr>
                            <td>{{ entity.iddeudas }}</td>
                            <td>{{ entity.fecha }}</td>
                            <td>{{ entity.categoria }}</td>
                            <td>{{ entity.descripcion|upper }}</td>
                            <td>{{ entity.deuda }}</td>
                            <td class="acciones"><center>
                                <ul>
                                    <li><a href="#"><i class="fa fa-pencil-square-o"></i></a></li>
                                    <li><a href="#" data-href="/delete.php?id={{ entity.iddeudas }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o delete"></i></a></li>
                                </ul>
                                </center></td>
                            <td><center><a href="#" data-href="{{ urlFor('pagar-deuda', {'id':entity.iddeudas}) }}" class="pagar" data-toggle="modal" data-target="#confirm-pagar"><i class="fa fa-paypal"></i></a></center></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include '/include/modal.html.twig' %}
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade modal-info" id="confirm-pagar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Desea Pagar esta Deuda?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                    <a class="btn btn-info btn-ok">SI</a>
                </div>
            </div>
        </div>
    </div>

    {% if flash['mensaje'] %}
        <div class="bb-alert alert alert-success">
            <span>{{ flash['mensaje'] }}</span>
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.side-menu li:eq(5)').addClass('active');
        });

        //Confirmar Pagar
        $('#confirm-pagar').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            var id =  $(this).find('.btn-ok').attr('href');
        });

    </script>
{% endblock %}