{% set dir =  baseUrl ~ "/views" %}
<html>
<head>
    <title>FINLOP</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ dir }}/assets/img/logo/favicon.png"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/black-dashboard.css?v=1.0.0" />
    <!-- JS -->
    <script type="text/javascript" src="{{ dir }}/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/js/validation.js"></script>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <img src="{{ dir }}/assets/img/logo/logo.png" alt="logo" style="display:block;width: 50%;margin: 10 auto 25 auto;">
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="user" class="form-control" required autofocus>
                            <label for="inputEmail">Usuario</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Recordar password</label>
                        </div>
                        <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/black-dashboard.js?v=1.0.0" type="text/javascript"></script>
</body>
</html>


