﻿/*===================================== ESCRITORIO, SCREENS GRANDES ====*/ 
@media only screen and (min-width: 1200px) {

}



/*=========================================== ESCRITORIO < 1200px ====*/
@media only screen and (max-width: 1200px) {
}



/*============================================= IPAD PAISAJE ====*/
@media only screen and (max-width: 1024px) {

}

/*============================================= IPAD PAISAJE ====*/
@media only screen and (max-width: 1110px) {

}


/*=============================================  ====*/
@media handheld, only screen and (max-width: 990px) {

}


/*============================================== IPAD RETRATO ====*/
@media handheld, only screen and (max-width: 768px) {

}


/*==============================================  GALAXY NOTE====*/
@media handheld, only screen and (max-width: 640px) {}



/*=========================================== IPHONE PAISAJE ====*/
@media handheld, only screen and (max-width: 480px) {
	.card .card-body{padding: 0;font-size: 10px;}
	.row {margin-right: -25px;margin-left: -25px;}
}



/*============================================ IPHONE RETRATO ====*/
@media handheld, only screen and (max-width: 320px) {}




/*============================================ SCREEN PEQUEÑOS ====*/
@media handheld, only screen and (max-width: 240px) { }


