@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic,300,100,500,700,900,100italic);

@prim: #1b9b77;
@dash:#5e5e5e;
@azul: #353D47;
@bordeex:1px solid red;


::selection{background-color: @prim;color: #fff;}
.login-body{background-image: url('../images/loginback.jpg');width: 100%; height: 100%; position: fixed; font-family: 'Lato';
    .login{padding-top: 55px;  background: rgba(0, 0, 0, 0.35) ; margin: 25px; height: 90%;
      .form-top {text-align: center; padding-bottom:7px;
        img{width: 170px;}
      }
      .form-bottom{margin: 10%; text-align: center;
        label{font-size: 14px; font-weight: 300; color:white;}
        .form-control{height: 28px}
        .btn{margin-top: 10px; height: 30px; width: 100%; background-color: @prim; color: white}
        .btn:hover{background-color: white; color: @prim; border-color: @prim}
      }
    }
}

.logo-img{width: 100px; margin-top: 5px;}

.table{
  a{color: #62a8ea;text-decoration: underline;}
  .acciones {
    ul{padding: 0;
      li {list-style: none;display: inline-block;
        i {color: @azul}
        .delete { color: #f35958}
      }
    }
  }
  .pagar{color: @prim}
}

.btn-nuevo{padding-top: 40px}

.form-control{text-transform:uppercase;}

.bb-alert {position: fixed;bottom: 15%;right: 0;margin-bottom: 0;font-size: 1.2em;padding: 1em 1.3em; z-index: 2000;}


