{% extends 'base.html.twig' %}

{% block title %}Activos{% endblock %}

{% block titleDash %}Editar Activo{% endblock %}

{% block table %}

    {% for entity in activos %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Datos del Codigo: {{ entity.idactivo }}</h4>
            </div>

            <div class="panel-body">
            {# Formulario Actualizar Activo#}
            <form class="form-horizontal" method="post" action="{{ urlFor('update-activo') }}" data-toggle="validator">
                <input type="hidden" name="id" value="{{ entity.idactivo }}" />

                <div class="form-group">
                    <label class="control-label col-sm-2">Cliente</label>
                    <input id="in_idcliente" type="hidden" value="{{ entity.idcliente }}" />
                    <div class="col-sm-10">
                        <select id="sel_cliente" class="form-control" name="clientes">
                            {% for cliente in clientes %}
                                <option value="{{ cliente.idcliente }}">{{ cliente.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Categoria</label>
                    <input id="in_idcategoria" type="hidden" value="{{ entity.idcategoria }}" />
                    <div class="col-sm-10">
                        <select id="sel_categoria" class="form-control" name="categorias">
                            {% for categoria in categorias %}
                                <option value="{{ categoria.idcategoria }}">{{ categoria.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Fecha</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" name="fecha" class="date-picker datepicker-modal form-control" value="{{ entity.fecha }}" placeholder="dd-MM-aaaa" readonly required />
                            <label for="date-picker" class="input-group-addon btn"><span class="fa fa-calendar"></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Ingreso</label>
                    <div class="col-sm-10">
                        <input id="moneda" type="text" name="importe" value="{{ entity.ingreso }}" placeholder="Importe Gs." autocomplete="off" class="form-control"  required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Descripcion</label>
                    <div class="col-sm-10">
                        <input type="text" name="descripcion"  value="{{ entity.descripcion }}" placeholder="Descripcion" autocomplete="off" class="form-control" style='text-transform:uppercase' required />
                    </div>
                </div>
                <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-info" /></div>
            </form>

            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            var idcliente = $('#in_idcliente').val();
            var idcategoria = $('#in_idcategoria').val();
            $("#sel_categoria").val(idcategoria);
            $("#sel_cliente").val(idcliente);
        });
    </script>
{% endblock %}