{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block titleDash %}Editar Categoria{% endblock %}

{% block table %}

    {% for entity in categorias %}
    <form class="form-horizontal" method="post" action="{{ urlFor('update-categoria') }}" data-toggle="validator">
        <div class="form-group">
            <label class="control-label">ID</label>
            <input type="text" name="id" value="{{ entity.idcategoria }}" class="form-control" required readonly/>
        </div>
        <div class="form-group">
            <label class="control-label">Categoria</label>
            <input type="text" name="categoria" value="{{ entity.descripcion }}" autofocus autocomplete="off" class="form-control" style='text-transform:uppercase' required />
        </div>
        <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-info" /></div>
    </form>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $("input[type=text]").focus().select();
        });
    </script>
{% endblock %}