{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block titleDash %}Editar Cliente{% endblock %}

{% block table %}

    {% for entity in cliente %}
    <form class="form-horizontal" method="post" action="{{ urlFor('update-cliente') }}" data-toggle="validator">
        <div class="form-group">
            <label class="control-label">ID</label>
            <input type="text" name="id" value="{{ entity.idcliente }}" class="form-control" required readonly/>
        </div>
        <div class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" name="nombre" value="{{ entity.nombre }}" autofocus autocomplete="off" class="form-control" style='text-transform:uppercase' required />
        </div>
        <div class="form-group">
            <label class="control-label">RUC</label>
            <input type="text" name="ruc" value="{{ entity.ruc }}" autofocus autocomplete="off" class="form-control" style='text-transform:uppercase' required />
        </div>
        <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-info" /></div>
    </form>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $("input[type=text]").focus().select();
        });
    </script>
{% endblock %}