{% extends 'base.html.twig' %}

{% block title %}Gastos{% endblock %}

{% block titleDash %}Editar Gastos{% endblock %}

{% block table %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del Codigo: {{ entity.idpasivo }}</h4>
        </div>

        <div class="panel-body">
            {# Formulario Actualizar Activo#}
            <form class="form-horizontal" method="post" action="{{ urlFor('update-pasivo') }}" data-toggle="validator">
                <input type="hidden" name="id" value="{{ entity.idpasivo }}" />

                <div class="form-group">
                    <label class="control-label col-sm-2">Categoria</label>
                    <input id="in_idcategoria" type="hidden" value="{{ entity.idcategoria }}" />
                    <div class="col-sm-10">
                        <select id="sel_categoria" class="form-control" name="categorias">
                            {% for categoria in categorias %}
                                <option value="{{ categoria.idcategoria }}">{{ categoria.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Fecha</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" name="fecha" class="date-picker datepicker-modal form-control" value="{{ entity.fecha }}" placeholder="dd-MM-aaaa" readonly required />
                            <label for="date-picker" class="input-group-addon btn"><span class="fa fa-calendar"></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Gasto</label>
                    <div class="col-sm-10">
                        <input id="moneda" type="text" name="gasto" value="{{ entity.gasto }}" placeholder="Gasto Gs." autocomplete="off" class="form-control"  required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Descripcion</label>
                    <div class="col-sm-10">
                        <input type="text" name="descripcion"  value="{{ entity.descripcion }}" placeholder="Descripcion" autocomplete="off" class="form-control" style='text-transform:uppercase' required />
                    </div>
                </div>
                <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-info" /></div>
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(4)').addClass('active');

        $("input[type=text]").focus(function(){
            this.select();
        });

        $(function(){
            var idcategoria = $('#in_idcategoria').val();
            $("#sel_categoria").val(idcategoria);
        });
    </script>
{% endblock %}